<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="endpoints-wshttp">
                    <security defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate"
                        requireDerivedKeys="true" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt"
                        messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                        requireSignatureConfirmation="true">
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <textMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
            <basicHttpBinding>
                <binding name="endpoints-basic">
                    <security mode="Message">
                        <message clientCredentialType="Certificate"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <behaviors>
            <endpointBehaviors>
                <behavior name="behaviors-clientCertificate">
                    <clientCredentials>
                        <clientCertificate findValue="57928524B39B2D767E19212CF87DD59074276102"
                                           storeLocation="CurrentUser"
                                           storeName="My"
                                           x509FindType="FindByThumbprint"/>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <client>
            <endpoint address="http://localhost:32766/Service1.svc"
                      binding="basicHttpBinding"
                      bindingConfiguration="endpoints-basic"
                      contract="ServiceReference1.IService1"
                      behaviorConfiguration="behaviors-clientCertificate"
                      name="endpoints-basic">
                <identity>
                    <certificateReference findValue="FC97986427368B333A05646BA8A8F08A7FF8EB4C"
                                             isChainIncluded="false"
                                             storeLocation="LocalMachine"
                                             storeName="My"
                                             x509FindType="FindByThumbprint"/>
                </identity>
            </endpoint>
        </client>
        <diagnostics performanceCounters="Off"
                    wmiProviderEnabled="false">
            <messageLogging logEntireMessage="true"
                            logKnownPii="true"
                            logMalformedMessages="true"
                            logMessagesAtTransportLevel="true"
                            logMessagesAtServiceLevel="false"
                            maxMessagesToLog="10000000"
                            maxSizeOfMessageToLog="100000000"/>
        </diagnostics>
    </system.serviceModel>
    <system.diagnostics>
        <sources>
            <!--<source name="System.ServiceModel"
                    switchValue="Verbose, ActivityTracing"
                    propagateActivity="true">
                <listeners>
                    <add name="xml" />
                </listeners>
            </source>-->
            <source name="System.ServiceModel.MessageLogging">
                <listeners>
                    <add name="xml" />
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add name="xml"
                 type="System.Diagnostics.XmlWriterTraceListener"
                 initializeData="Z:\Logs\TheClient.svclog" />
        </sharedListeners>
    </system.diagnostics>
</configuration>
