<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <startup>
        <supportedRuntime version="v4.0"
                          sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="endpoints-basic">
                    <security mode="Message">
                        <message clientCredentialType="Certificate" />
                    </security>
                </binding>
            </basicHttpBinding>

            <customBinding>
                <binding name="bindings-customLogging">
                    <security defaultAlgorithmSuite="Default"
                              authenticationMode="MutualCertificate"
                              requireDerivedKeys="false"
                              securityHeaderLayout="Lax"
                              includeTimestamp="true"
                              messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
                              requireSignatureConfirmation="false"
                              allowInsecureTransport="true">
                        <localClientSettings detectReplays="true" />
                        <localServiceSettings detectReplays="true" />
                    </security>
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>

        <behaviors>
            <endpointBehaviors>
                <behavior name="behaviors-clientCertificate">
                    <clientCredentials>
                        <clientCertificate findValue="57928524B39B2D767E19212CF87DD59074276102"
                                           storeLocation="CurrentUser"
                                           storeName="My"
                                           x509FindType="FindByThumbprint"/>
                    </clientCredentials>
                </behavior>
            </endpointBehaviors>
        </behaviors>

        <client>
            <endpoint address="http://localhost:32766/Service1.svc"
                      behaviorConfiguration="behaviors-clientCertificate"
                      binding="customBinding"
                      bindingConfiguration="bindings-customLogging"
                      contract="ServiceReference1.IService1"
                      name="endpoints-basic">
                <identity>
                    <certificateReference storeName="My"
                                          storeLocation="LocalMachine"
                                          x509FindType="FindByThumbprint"
                                          findValue="FC97986427368B333A05646BA8A8F08A7FF8EB4C"
                                          isChainIncluded="false" />
                </identity>
            </endpoint>
        </client>

        <diagnostics performanceCounters="Off"
                     wmiProviderEnabled="false">
            <messageLogging logEntireMessage="true"
                            logKnownPii="true"
                            logMalformedMessages="true"
                            logMessagesAtTransportLevel="true"
                            logMessagesAtServiceLevel="false"
                            maxMessagesToLog="10000000"
                            maxSizeOfMessageToLog="100000000"/>
        </diagnostics>
    </system.serviceModel>

    <system.diagnostics>
        <sources>
            <source name="System.ServiceModel.MessageLogging">
                <listeners>
                    <add name="xml"
                         type="System.Diagnostics.XmlWriterTraceListener"
                         initializeData="Z:\Logs\TheClient.svclog"/>
                </listeners>
            </source>
        </sources>
    </system.diagnostics>

</configuration>
